#center-info {
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}
mat-spinner{
    position: relative;
    margin: auto;
    margin-top : 20%;
}
.spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
}

