.titre{
    padding-top : 2%;
    text-align: center ;
}
.info{
    padding-left:2%;
}
table {
    border-collapse: collapse;
    text-align: center;
    box-shadow : 2px 2px 3px 3px grey;
}
table td, table th {
    width : 100px;
    border: 1px solid black;
}
