<div class="map-container">
    <div class="map-frame">
        <div id="map"></div>
    </div>
</div>

<button mat-flat-button color="primary" type="button" id="locationButton" (click)="goBackToLocation()"
        [disabled]="!hasAllowedGeolocation">Revenir à ma localisation
</button>

<div class="checkboxes">
    <input type="checkbox" id="checkboxVaccinationCenters" (click)="toggleVaccinationCenters()" checked>
    <label for="checkboxVaccinationCenters"> Afficher les centres de vaccination.</label>

    <br>

    <input type="checkbox" id="checkboxTestCenters" (click)="toggleTestCenters()" checked>
    <label for="checkboxTestCenters"> Afficher les centres de tests.</label>
</div>

